<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="Stylesheet" href="./css/style.css"/>
    <title>Tickle my fancy</title>

</head>
<body>
    <header id="header">
        <div id="logoDiv">
            <img src="https://i.ytimg.com/vi/e3Nl_TCQXuw/maxresdefault.jpg" id="logo"/>
        </div>
        <div id="menubar">
            <div id="searchbar">
                here we need a searchbar
            </div>
            <div id="menu">
                <span>category1</span>
                <span>category2</span>
                <span>category3</span>
                <span>category4</span>
                <span>category5</span>
                <span>category6</span>
            </div>
        </div>
        <div id="cartbox">
            <!-- here we have som links to both the login in site and to the cart. these doesn't need to be links, we can use SPA if we want. -->
            <div id="login"><a href="registration.html"><img src="./img/loginlogo.png" id="loginlogo"/></a></div>
            <div id="cart" ><img src="./img/shopping-cart.png" id="cartlogo"/></div>
        </div>
    </header>

    <section id="pageContent">
        <p>Hello dear!</p>
        <p>let me know if I'm awsome</p>


    </section>
    <div id="footer">
       help me i'm sinking
       <p>some information about us</p>

    </div>
</body>
</html>


