<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="Stylesheet" href="./css/style.css"/>
    <style>@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');</style>
    <title>Beauty and the beasts</title>

</head>
<body>

<header id="header">
    <div id="logoDiv">
        <!--<img src="https://i.ytimg.com/vi/e3Nl_TCQXuw/maxresdefault.jpg" id="logo"/>-->
        <img src="./img/logo.png" id="logo"/>
    </div>
    <div id="menubar">
        <div id="searchbar">
            <input type="text" class="searchTerm" placeholder="What are you looking for?"/>
            <button type="submit" class="searchButton"></button>

        </div>
        <div id="menu">
            <span>Fransar</span>
            <span>category2</span>
            <span>category3</span>
            <span>category4</span>
            <span>category5</span>
            <span>category6</span>
        </div>
    </div>
    <div id="cartbox">
        <!-- here we have som links to both the login in site and to the cart. these doesn't need to be links, we can use SPA if we want. -->
        <div th:if="${isLogedIn} == true" >
            <form action="/logout" method="post">
                <input type="submit" value="logout"/>
            </form>
        </div>
        <div th:if="${isLogedIn} == false">
            <form action="/login" method="post">
                <div>Email:</div>
                <input name="email" type="text" />
                <div>Password:</div>
                 <input name="password" type="password" />
                <input type="submit" value="login"/>
                <div th:text="${loginFail}"></div>
            </form>
        </div>
        <div th:if="${isLogedIn} == true" id="login"><a href="registration.html"><img src="./img/loginlogo.png" id="loginlogo"/></a></div>
        <div th:if="${isLogedIn} == true" id="cart"><img src="./img/shopping-cart.png" id="cartlogo"/></div>
    </div>
</header>

<section id="pageContent">

    <div id="subcategoryMenu">
        <p>
            Here will we display a menu with subcategories
        </p>
    </div>


    <div id="mainPage">
        <div id="julkalender">
            <p>julkalender!</p>
            <p>Lucka ?</p>
            <p>Ny lucka varjedag!</p>
            <div>
                <img src="" id="bildPaJulklappenForDagen"/>
            </div>
        </div>

        <div class="recommendedCategory">
            <h3>Makeup</h3>
        </div>
        <div class="recommendedProduct" id="makeup">
            <div th:each="product : ${makeUp}">
                <p>
                    <a th:href="'/productinfo?productID='+${product.productID}" th:text="${product.name}"></a>
                </p>
                <p th:text="${product.image}"></p>
                <p th:text="${product.price +' kr'}">kr</p>
                <p th:text="${product.description}"></p>

            </div>
        </div>

        <div class="recommendedCategory">
            <h3>Nail</h3>
        </div>
        <div class="recommendedProduct" id="nails">
            <div th:each="product : ${nails}">
                <p>
                    <a th:href="'/productinfo?productID='+${product.productID}" th:text="${product.name}"></a>
                </p>
                <p th:text="${product.image}"></p>
                <p th:text="${product.price +' kr'}">kr</p>
                <p th:text="${product.description}"></p>

            </div>
        </div>
        <div class="recommendedCategory">
            <h3>Eyes</h3>
        </div>
        <div class="recommendedProduct" id="eyes">
            <div th:each="product : ${eyes}">
                <p>
                    <a th:href="'/productinfo?productID='+${product.productID}" th:text="${product.name}"></a>
                </p>
                <p th:text="${product.image}"></p>
                <p th:text="${product.price +' kr'}">kr</p>
                <p th:text="${product.description}"></p>

            </div>
        </div>
    </div>
    <div id="topsellers">
        <p>here we will have a list of our topsellers</p>
        <div th:each="product : ${nails}">
            <p>
                <a th:href="'/productinfo?productID='+${product.productID}" th:text="${product.name}"></a>
            </p>
            <p th:text="${product.image}"></p>
            <p th:text="${product.price +' kr'}">kr</p>

        </div>
    </div>

</section>
<div id="footer">
    <section class="foot">
        <div class="shopsection">
            <ul id="shop">SHOP</ul>
            <li>Women</li>
            <li>Men</li>
            <li>Makeup</li>
            <li>lipstift</li>
        </div>

        <div class="informationsection">
            <ul>information</ul>
            <li>carrer at Beauty and the beast</li>
            <li>aboute Beauty and the beast</li>
            <li>information</li>
        </div>

        <div class="helpsection">
            <ul>help</ul>
            <li>customer service</li>
            <li>My profile</li>
            <li>Gift Card</li>
            <li>FAQ</li>
        </div>

        <div class="socialsection">
            <ul>social</ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Twitter</li>
            <li>Mail</li>
        </div>


    </section>

</div>

    <script src="./script/bundle.js"></script>

</body>
</html>


