<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div class="generateForm">
    <h1>Registrera</h1>
    <div class="registrationInput">
        <form action="#" th:action="@{/registration}" th:object="${customer}" method="post">
            Email: <input type="text" th:field="*{email}" />
            <p th:if="${#fields.hasErrors('email')}">Måste ange e-post</p>
            <p th:text="${occupied}" ></p>

            Password: <input type="password" th:field="*{password}"/>
            <p th:if="${#fields.hasErrors('password')}">Lösenordet ska innehålla 5-15 tecken.</p>

            Firstname: <input type="text" th:field="*{firstname}"/>
            <p th:if="${#fields.hasErrors('firstname')}"></p>

            Lastname: <input type="text" th:field="*{lastname}"/>
            <p th:if="${#fields.hasErrors('lastname')}">Lastname Wrong!</p>

            Address: <input type="text" th:field="*{address}"/>
            <p th:if="${#fields.hasErrors('address')}">Address Wrong!</p>

            Zip: <input type="text" th:field="*{zip}"/>
            <p th:if="${#fields.hasErrors('zip')}">Zip Wrong!</p>

            City: <input type="text" th:field="*{city}"/>
            <p th:if="${#fields.hasErrors('city')}">Wrong!</p>

            Phone: <input type="text" th:field="*{phone}"/>
            <p th:if="${#fields.hasErrors('phone')}">City Wrong!</p>

            <input type="submit" value="registrera"/>

        </form>
    </div>
</div>

</body>
</html>