
 @deepPurple:#7B008D;
 @lightPurple:#C18DB2;
 @yellow:#F3B606;
 @brown:#56320F;
 @dirtyWhite:#D8C5AA;

#header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 10%;
    //background-color: @deepPurple;
    background: linear-gradient(to bottom right,@lightPurple 20% , @deepPurple, @yellow 95%);
    color: @dirtyWhite;
    
}
#searchbar{
    width: 100%;
    position: relative;
    top: 0;
}
.searchTerm {
    float: left;
    width: 85%;
    border: 3px solid @lightPurple;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    outline: none;
    color: @dirtyWhite;
  }
  .searchTerm:focus{
    color: @deepPurple;
  }
  .searchButton {
    cursor: pointer;
    width: 40px;
    height: 36px;

    border: 1px solid @deepPurple;
    border-radius: 5px;
    text-align: center;
    background: @lightPurple;
    color: @brown;

    font-size: 20px;
    background-image: url(https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-128.png);
    background-size: 85%;
    background-position: center;
}
body{
    height: 100%;
    max-width: 1200px;
}
#menubar{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    text-align: center;
    justify-content: space-around;
    border: 20px;
    max-height: 100%;
    cursor: pointer;
}
#menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

}
#cartbox{
    display: flex;
    flex-direction: row;
   color:black;
   width: 20%;
   margin: auto;
   max-height: 100%;
 
   justify-content: center;
   cursor: pointer;
}
#loginlogo{
    margin: auto;
    width: 50%;
    max-height: 100%;
}
#cartlogo{
    margin: auto;
    max-height: 100%;
    width: 50%;
}
#logoDiv{
    color: white;
    width: 20%;
    margin: auto;
    max-height: 100%;
    padding-left: 5%;

}
#logo{
    width: 100%;
    margin: auto;
    max-height: 100%;
    cursor: pointer;
}
#footer{
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: @brown;
    border: 1px solid @brown;
    padding: 40px 0px;
    width: 100%;
    max-height: 5%;
}
// why did I need to have the styling on the section and not on the div footer??
.foot{
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: @brown;
    border: 1px solid @brown;
    padding: 40px 0px;
    width: 100%;
    max-height: 5%;

}
.shopsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25%;
}
.informationsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25%;
}
.socialsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25%;
}
.helpsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25%;
}

#pageContent{
    display: flex;
    flex-direction: row;
    //justify-content: center;
    font-family: Arial, Helvetica, sans-serif; //our type!!!!!
    font-size: 18px;
    background-color: @dirtyWhite;
    min-height: 800px;
}
#mainPage{
    max-width:100%;
    
    flex-direction: column;
    justify-content: center;
    background-color: @dirtyWhite;
    flex-grow: 1;
    border: 2px solid @lightPurple;
}
.recommendedProduct{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.recommendedCategory{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;

}
#julkalender{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Mountains of Christmas', cursive; //OUR TYPW!!!
    background-color: rgba(255, 0, 0, 0.507);
    max-width: 100%;
    margin-top: auto;
}
#subcategoryMenu{
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 20%;
    max-height: 100%;
    background-color: @dirtyWhite;
    border: 2px solid @lightPurple;

}
#topsellers{
    display: flex;
    flex-direction: column;
    text-align: right;
    max-width: 20%;
    max-height: 100%;
    background-color: @dirtyWhite;
    border: 2px solid @lightPurple;
}
 
 